.hero-container {
	background: lighten(color(grey), 15%);
	padding: 6em 0 5em;
	color: #fff;
	* {
		color: #fff;
	}
}
.demo {
	position: relative;
	padding-top: 2rem;
	&::before {
		content: attr(class);
		position: absolute;
		top: 0;
		left: 1rem;

	}
}